        <!DOCTYPE html>
        <html lang="pl" >
        <head>
          <meta charset="UTF-8">
          <title>HAXXOR V1.0</title>
          <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styleindex.css')}}">
          <link rel="preconnect" href="https://fonts.googleapis.com">
          <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
          <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
          <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
        </head>
        <body>
        <article>
          <h1>HAXXOR</h1>
          <form method="post" action=".">
            <p><input class="button" type="submit" name="toilet" value="Hack" /></p>
            <p><input type="text" class="input" name="textbox" /></p>
          </form>
        </article>
        </body>
        </html>